@import url('../fonts/fonts.css');

.brand-note {
    display: flex;
}

.brand-image {
    display: flex;
    align-self: flex-start;
}

.brand-note p {
    margin: 0 75px;
    text-align: center;
    padding-bottom: 50px;
}