@import url('../fonts/fonts.css');

.brand-note {
    padding: 5px;
}

.brand-note img {
    float: left;
    margin-left: 20px;
}

.brand-note p {
    text-align: center;
    padding-bottom: 25px;
}

@media only screen and (max-width: 750px) {
    .brand-note {
        padding: 5px;
        text-align: center;
    }
    
    .brand-note img {
        float: none;
    }
}