@import url('../fonts/fonts.css');

.folder-container, .folder-svg {
    width: fit-content;
}

.folder-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder-title, .folder-title a {
    color: #1D2839;
    font-family: 'Inter Bold';
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: lowercase;
    padding-bottom: 10px;
}

.folder-title a:hover {
    color: #3B4B74;
}
