@import url('../fonts/fonts.css');
@import url('./colors.css');

.price-tag {
    max-width: 420px;
    display: flex;
    border-radius: 15px;
    justify-content: left;
    align-items: center;
    color: var(--bg-color);
    width: fit-content;
    margin: 5px 10px;
}

.blue-price-tag, .blue-filter-tag {
    background-color: var(--blue-tag-light);
    border-right: 1px solid var(--blue-tag-dark);
    border-bottom: 2px solid var(--blue-tag-dark);
}

.blue-filter-tag:hover {
    background-color: var(--blue-tag-dark);
}

.blue-filter-tag.selected {
    background-color: var(--blue-tag-dark);
    border: 3px solid var(--blue-tag-darker);
}

.blue-filter-tag.selected:hover {
    background-color: var(--blue-tag-light);
    border: 3px solid var(--blue-tag-dark);
}

.green-price-tag, .green-filter-tag {
    background-color: var(--green-tag-light);
    border-right: 1px solid var(--green-tag-dark);
    border-bottom: 2px solid var(--green-tag-dark);
}

.green-filter-tag:hover {
    background-color: var(--green-tag-dark);
}

.green-filter-tag.selected {
    background-color: var(--green-tag-dark);
    border: 3px solid var(--green-tag-darker);
}

.green-filter-tag.selected:hover {
    background-color: var(--green-tag-light);
    border: 3px solid var(--green-tag-dark);
}

.lilac-price-tag, .lilac-filter-tag {
    background-color: var(--lilac-tag-light);
    border-right: 1px solid var(--lilac-tag-dark);
    border-bottom: 2px solid var(--lilac-tag-dark);
}

.lilac-filter-tag:hover {
    background-color: var(--lilac-tag-dark);
}

.lilac-filter-tag.selected {
    background-color: var(--lilac-tag-dark);
    border: 3px solid var(--lilac-tag-darker);
}

.lilac-filter-tag.selected:hover {
    background-color: var(--lilac-tag-light);
    border: 3px solid var(--lilac-tag-dark);
}

.yellow-price-tag, .yellow-filter-tag {
    background-color: var(--yellow-tag-light);
    border-right: 1px solid var(--yellow-tag-dark);
    border-bottom: 2px solid var(--yellow-tag-dark);
}

.yellow-filter-tag:hover {
    background-color: var(--yellow-tag-dark);
}

.yellow-filter-tag.selected {
    background-color: var(--yellow-tag-dark);
    border: 3px solid var(--yellow-tag-darker);
}

.yellow-filter-tag.selected:hover {
    background-color: var(--yellow-tag-light);
    border: 3px solid var(--yellow-tag-dark);
}

.grey-price-tag, .grey-filter-tag {
    background-color: var(--grey-tag-light);
    border-right: 1px solid var(--grey-tag-dark);
    border-bottom: 2px solid var(--grey-tag-dark);
}

.grey-filter-tag:hover {
    background-color: var(--grey-tag-dark);
}

.grey-filter-tag.selected {
    background-color: var(--grey-tag-dark);
    border: 3px solid var(--grey-tag-darker);
}

.grey-filter-tag.selected:hover {
    background-color: var(--grey-tag-light);
    border: 3px solid var(--grey-tag-dark);
}

.price-tag.small {
    min-height: 25px;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.filter-tag {
    min-height: 25px;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    max-width: 420px;
    display: flex;
    border-radius: 15px;
    justify-content: left;
    align-items: center;
    color: var(--bg-color);
    width: fit-content;
    margin: 5px 10px;
}

.price-tag {
    min-height: 40px;
    font-size: 1.1rem;
}

.price-tag ul {
    margin: 0 5px 0 20px;
    padding: 0 5px 0 5px;
}

.price-tag li::marker {
    color: var(--bg-color);
}

.wl-item-container {
    display: flex;
    padding: 0 0 20px 0;
}

.wl-item-header {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.wl-item-header h2 {
    padding: 0 35px 0 0;
    overflow-wrap: break-word;
    overflow: auto;
}

.wl-item-content {
    width: 100%;
}

.wl-tags {
    flex-wrap: wrap;
    display: flex;
    padding: 10px 0;
    align-items: center;
}

img {
    float: left;
    max-width: 300px;
    margin: auto;
    padding: 15px;
}

button {
    border: none;
    background-color: #3A4856;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 15px;
    margin: 10px;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Inter Bold';
    letter-spacing: 0px;
    letter-spacing: 1px;
}

button:hover, .active {
    background-color: #537491;
}

.indicator-divider {
    color: var(--header-color);
    font-size: 1.1rem;
    font-family: 'Inter Bold';
    letter-spacing: 0px;
    text-decoration: none;
    padding: 0 10px;
}

.active {
    font-family: 'Inter Extra Bold';
}

.wl-img-indicators {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Inter';
    letter-spacing: 2px;
    text-decoration: none;
    flex-wrap: wrap;
}

.filter-sort-section {
    display: flex;
    width: 100%;
    padding: 5px 0;
    justify-content: flex-end;
    align-items: flex-start;
}

.filter-section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.tag-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.tester-class {
    color: #FFFFFF;
    border: 1px solid red;
}

@media only screen and (max-width: 750px) {
    img {
        float: none;
    }
    .wl-img-indicators, .wl-tags, .wl-item-header {
        justify-content: center;
    }
    .wl-item-container, .wl-item-header {
        text-align: center;
    }
}